<footer class=" bg-light pt-40 pb-20 text-center">
    <div><a href="index.html"><img class="footer-logo" src="../assets/images/logo_vertical.png" alt=""></a></div>
    <ul class="d-flex justify-content-center list-unstyled mb-lg-5 mb-40 mt-20 mt-md-4">
        <li class="pe-32 border-end border-accent-pink"><a class="fs-5 fw-medium" href="index.html">首頁</a></li>
        <li class="px-32 border-end border-accent-pink"><a class="fs-5 fw-medium" href="hospital.html">尋醫去</a></li>
        <li class="ps-32"><a class="fs-5 fw-medium" href="">後台登入</a></li>
    </ul>
    <div class="d-lg-flex justify-content-md-center">
        <p class="dark50 me-md-1">本網頁僅作為 Side Project 練習非商業目的，不應視為健康專業建議</p>
        <p class="dark30">Copyright © 2023 Aritan</p>
    </div>
    <div class="dark30">
        <a class="dark30"
            href="https://www.freepik.com/free-vector/good-doggy-concept-illustration_20135123.htm#query=dog&position=6&from_view=author">Image
            by storyset</a> on Freepik
        <br>
        <a class="dark30" href="https://data.coa.gov.tw/open_detail.aspx?id=078" target="_blank">data by 農業資料開放平台</a>
    </div>
</footer>