//卡片陰影
.card-shadow {
    box-shadow: 0px 2px 6px 0px rgba(156, 79, 46, 0.5), 0px 2px 24px 0px rgba(156, 79, 46, 0.5);
    .card-footer:hover {
        background-color: $accent-red !important;
    }
}
.hospital-card {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
    @include sm() {
        max-width: 100%;
        // margin-left: 0px;
        // margin-right: 0px;
    }
}
