.banner-paw {
    max-width: 526px;
    // height: 540px;
}
.banner-img {
    max-width: 534px;
    // height: 636px;
}
.banner-mobile {
    max-width: 351px;
}
//手機版圖片更換
@include xl() {
    .img-introduce1 {
        content: url(/assets/images/Desktop_introduce_01.png);
    }
    .img-introduce-bg1 {
        content: url(/assets/images/Desktop_introduce_bg_01.png);
    }
}
@include pad() {
    .img-introduce2 {
        content: url(/assets/images/Desktop_introduce_02.png);
    }
    .img-introduce-bg2 {
        content: url(/assets/images/Desktop_introduce_bg_02.png);
    }
    .img-introduce3 {
        content: url(/assets/images/Desktop_introduce_03.png);
    }
    .img-introduce-bg3 {
        content: url(/assets/images/Desktop_introduce_bg_03.png);
    }
}
.bg {
    .card {
        width: 100%;
        // max-width: 340px;
        margin: 0 auto;
        @include sm() {
            max-width: 100%;
            // margin-left: 0px;
            // margin-right: 0px;
        }
    }
    background-image: url(/assets/images/Mobile_bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    @include sm() {
        //平板桌機版本
        background-image: url(/assets/images/Desktop_bg.png);
        padding-top: 20%;
        padding-bottom: 10%;
        // padding-top: 170px;
        // padding-bottom: 200px;
    }
    @include pad() {
        padding-top: 15%;
        padding-bottom: 10%;
    }
}
