<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
      <!-- banner區塊 -->
      <section class="container">
        <!-- 電腦版banner -->
        <div class="row justify-content-between align-items-center d-none d-xl-flex vh-100">
          <div class="col-5 position-relative">
            <img class="banner-paw" src="../assets/images/Desktop_paw.png" alt="">
            <div class="position-absolute top-27 start-18 d-flex flex-column justify-content-center align-items-center">
              <img src="../assets/images/Paw Map.svg" alt="">
              <p class="text-primary-light fs-2 text-center ls-160 mt-12 mb-40">寵物健康管理，輕鬆無憂<br>
                新北寵物醫療一鍵即可</p>
              <a class="btn btn-primary rounded-pill link-light py-3 px-4 d-flex align-items-center justify-content-center fs-5"
                href="hospital.html"><span class="material-symbols-outlined me-1">
                  search
                </span>尋醫去</a>
            </div>
          </div>
          <div class="col-6">
            <img class="banner-img" src="../assets/images/Desktop_kv01.png" alt="">
          </div>
        </div>
        <!-- 手機版banner -->
        <div class="d-xl-none d-flex flex-column justify-content-center align-items-center vh-100">
          <img class="banner-mobile" src="../assets/images/Mobile_kv_01.png" alt="">
          <img src="../assets/images/Paw Map.svg" alt="">
          <p class="text-primary-light fs-5 text-center ls-60 mt-12 mb-20 fw-medium">寵物健康管理，輕鬆無憂<br>
            新北寵物醫療一鍵即可</p>
          <a class="btn btn-primary rounded-pill link-light py-3 px-4 d-flex align-items-center justify-content-center fs-5 fw-medium"
            href="hospital.html"><span class="material-symbols-outlined me-1">
              search
            </span>尋醫去</a>
        </div>
      </section>
      <!-- 探索我們區塊 -->
      <section class="bg-light pt-40 pb-20 py-lg-80">
        <div class="container">
          <ul class="mb-0 list-unstyled">
            <li class="d-flex flex-column flex-lg-row justify-content-center align-items-center row mb-4 mb-lg-40">
              <div class="col-lg-4 col">
                <h3
                  class="text-primary fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-4 mb-lg-40">
                  探索我們</h3>
                <img class="img-fluid img-introduce1" src="../assets/images/Mobile_introduce_01.png" alt="">
              </div>
              <div class="col-lg-6 col position-relative mt-4 mt-lg-40">
                <img class="img-fluid img-introduce-bg1" src="../assets/images/Mobile_introduce_bg_01.png" alt="">
                <div class="position-absolute  top-50 start-50 translate-middle text-center text-lg-start">
                  <h4 class="fs-5 fs-md-4 fw-medium ls-60 mb-12">寵物護照健康管理</h4>
                  <p class="ls-48 mb-20 fs-md-5">輕鬆建立寵物個人檔案<br>
                    記錄疫苗、檢查和就醫紀錄<br>
                    同時輕鬆管理寵物醫院清單
                  </p>
                  <a class="btn btn-primary rounded-pill link-light py-3 px-4 d-flex align-items-center justify-content-center fs-5 w-241 m-auto mx-lg-0"
                    href="signup.html">創建專屬寵物護照
                    <span class="material-symbols-outlined ms-1">
                      arrow_forward
                    </span>
                  </a>
                </div>
              </div>
            </li>
            <li
              class="d-flex flex-column flex-lg-row justify-content-center align-items-center row flex-column-reverse mb-4 mb-lg-40">
              <div class="col-lg-6 col position-relative">
                <img class="img-fluid img-introduce-bg2" src="../assets/images/Mobile_introduce_bg_02.png" alt="">
                <div class="position-absolute  top-50 start-50 translate-middle text-center text-lg-start">
                  <h4 class="fs-5 fs-md-4 fw-medium ls-60 mb-12">新北寵物醫院收藏</h4>
                  <p class="ls-48 mb-20 fs-md-5">輕鬆管理當地寵物醫院的訊息<br>
                    確保隨時找到合適的醫療服務
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col">
                <img class="img-fluid img-introduce2" src="../assets/images/Mobile_introduce_02.png" alt="">
              </div>
            </li>
            <li class="d-flex flex-column flex-lg-row justify-content-center align-items-center row">
              <div class="col-lg-4 col">
                <img class="img-fluid img-introduce3" src="../assets/images/Mobile_introduce_03.png" alt="">
              </div>
              <div class="col-lg-6 col position-relative">
                <img class="img-fluid img-introduce-bg3" src="../assets/images/Mobile_introduce_bg_03.png" alt="">
                <div class="position-absolute  top-50 start-50 translate-middle text-center text-lg-start">
                  <h4 class="fs-5 fs-md-4 fw-medium ls-60 mb-12">近期活動分享</h4>
                  <p class="ls-48 mb-20 fs-md-5">探索最新的寵物活動<br>
                    包括聚會、比賽、展覽<br>
                    讓您的毛孩享受社交活動所帶來的樂趣
                  </p>
                  <a class="btn btn-primary rounded-pill link-light py-3 px-4 d-flex align-items-center justify-content-center fs-5 w-241 m-auto mx-lg-0"
                    href="">查看近期活動
                    <span class="material-symbols-outlined ms-1">
                      arrow_forward
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- 新北寵物醫院區塊 -->
      <section class="bg">
        <div class="container ">
          <div class="row d-flex flex-column  flex-xl-row justify-content-xl-between align-items-center">
            <div class="col col-xl-4">
              <h3
                class="text-light fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-2 mb-lg-20">
                新北寵物醫院</h3>
              <p class="fs-lg-5 ls-lg-60 ls-48 text-light mb-4 mb-lg-20">建議出發前先與寵物醫院電話聯繫</p>
              <a class="btn btn-light  rounded-pill link-dark py-3 px-4 d-flex align-items-center justify-content-center fs-5  d-xl-inline-flex d-none"
                href="hospital.html">查看更多
                <span class="material-symbols-outlined ms-1">
                  arrow_forward
                </span>
              </a>
            </div>
            <div class="col col-xl-8">
              <ul class="list-unstyled mb-0 row g-4">
                <li class="col-12 col-sm-6">
                  <div class="card rounded-5 card-shadow">
                    <div class="card-body p-3 p-lg-4">
                      <div class="d-flex justify-content-between align-items-center mb-12">
                        <span class="text-center bg-accent-yellow px-12 py-1 rounded-3">林口區</span>
                        <p class="d-flex align-items-center justify-content-center dark50"><span
                            class="icon-fill material-symbols-outlined dark30 me-2">
                            favorite
                          </span>29 人收藏</p>
                      </div>
                      <h5 class="card-title fs-lg-4 fs-5 fw-medium ls-60 ls-lg-72">上弦動物醫院</h5>
                      <ul class="mb-0 list-unstyled">
                        <li class="mb-1"><a class="d-flex align-items-center ls-48" href="">
                            <span class="material-symbols-outlined icon-fill me-1 dark30">
                              location_on
                            </span>
                            新北市林口區忠福路 129 號
                          </a></li>
                        <li><a class="d-flex align-items-center ls-48" href="tel:02 2609-0119">
                            <span class="icon-fill material-symbols-outlined me-1 dark30">
                              call
                            </span>
                            02 2609-0119
                          </a></li>
                      </ul>
                    </div>
                    <div class="card-footer bg-light rounded-bottom-5 overflow-hidden">
                      <a class="link-primary ls-48 d-flex justify-content-center align-items-center" href="">
                        <span class="material-symbols-outlined fs-2 me-2">
                          favorite
                        </span>
                        收藏這間醫院
                      </a>
                    </div>
                  </div>
                </li>
                <li class="col-12 col-sm-6">
                  <div class="card card-shadow rounded-5">
                    <div class="card-body p-3 p-lg-4">
                      <div class="d-flex justify-content-between align-items-center mb-12">
                        <span class="text-center bg-accent-yellow px-12 py-1 rounded-3">板橋區</span>
                        <p class="d-flex align-items-center justify-content-center dark50"><span
                            class="icon-fill material-symbols-outlined dark30 me-2">
                            favorite
                          </span>29 人收藏</p>
                      </div>
                      <h5 class="card-title fs-lg-4 fs-5 fw-medium ls-60 ls-lg-72">丘原動物醫院</h5>
                      <ul class="mb-0 list-unstyled">
                        <li class="mb-1"><a class="d-flex align-items-center ls-48" href="">
                            <span class="icon-fill material-symbols-outlined me-1 dark30">
                              location_on
                            </span>
                            新北市板橋區華江一路 596 號
                          </a></li>
                        <li><a class="d-flex align-items-center ls-48" href="tel:02 2257-9596">
                            <span class="icon-fill material-symbols-outlined me-1 dark30">
                              call
                            </span>
                            02 2257-9596
                          </a></li>
                      </ul>
                    </div>
                    <div class="card-footer bg-light rounded-bottom-5 overflow-hidden">
                      <a class="link-primary ls-48 d-flex justify-content-center align-items-center" href="">
                        <span class="material-symbols-outlined fs-2 me-2">
                          favorite
                        </span>
                        收藏這間醫院
                      </a>
                    </div>
                  </div>
                </li>
                <li class="col-12 col-sm-6">
                  <div class="card card-shadow rounded-5">
                    <div class="card-body p-3 p-lg-4">
                      <div class="d-flex justify-content-between align-items-center mb-12">
                        <span class="text-center bg-accent-yellow px-12 py-1 rounded-3">深坑區</span>
                        <p class="d-flex align-items-center justify-content-center dark50"><span
                            class="icon-fill material-symbols-outlined dark30 me-2">
                            favorite
                          </span>29 人收藏</p>
                      </div>
                      <h5 class="card-title fs-lg-4 fs-5 fw-medium ls-60 ls-lg-72">山盟動物醫院</h5>
                      <ul class="mb-0 list-unstyled">
                        <li class="mb-1"><a class="d-flex align-items-center ls-48" href="">
                            <span class="icon-fill material-symbols-outlined me-1 dark30">
                              location_on
                            </span>
                            新北市深坑區北深路二段 82 號
                          </a></li>
                        <li><a class="icon-fill d-flex align-items-center ls-48" href="tel:02 2664-3865">
                            <span class="material-symbols-outlined me-1 dark30">
                              call
                            </span>
                            02 2664-3865
                          </a></li>
                      </ul>
                    </div>
                    <div class="card-footer bg-light rounded-bottom-5 overflow-hidden">
                      <a class="link-primary ls-48 d-flex justify-content-center align-items-center" href="">
                        <span class="material-symbols-outlined fs-2 me-2">
                          favorite
                        </span>
                        收藏這間醫院
                      </a>
                    </div>
                  </div>
                </li>
                <li class="col-12 col-sm-6">
                  <div class="card card-shadow rounded-5">
                    <div class="card-body p-3 p-lg-4">
                      <div class="d-flex justify-content-between align-items-center mb-12">
                        <span class="bg-accent-yellow px-12 py-1 rounded-3">新莊區</span>
                        <p class="d-flex align-items-center justify-content-center dark50"><span
                            class="icon-fill material-symbols-outlined dark30 me-2">
                            favorite
                          </span>29 人收藏</p>
                      </div>
                      <h5 class="card-title fs-lg-4 fs-5 fw-medium ls-60 ls-lg-72">聖安動物醫院</h5>
                      <ul class="mb-0 list-unstyled">
                        <li class="mb-1"><a class="d-flex align-items-center ls-48" href="">
                            <span class="icon-fill material-symbols-outlined me-1 dark30">
                              location_on
                            </span>
                            新北市新莊區中港路 256 號
                          </a></li>
                        <li><a class="d-flex align-items-center ls-48" href="tel:02 1822-0450">
                            <span class="text-center icon-fill material-symbols-outlined me-1 dark30">
                              call
                            </span>
                            02 1822-0450
                          </a></li>
                      </ul>
                    </div>
                    <div class="card-footer bg-light rounded-bottom-5 overflow-hidden">
                      <a class="link-primary ls-48 d-flex justify-content-center align-items-center" href="">
                        <span class="material-symbols-outlined fs-2 me-2">
                          favorite
                        </span>
                        收藏這間醫院
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- 桌機以下按鈕打開 -->
            <div class="d-xl-none text-center">
              <a class="btn btn-light  rounded-pill link-dark py-3 px-4 d-flex align-items-center justify-content-center fs-5  d-inline-flex mt-4"
                href="hospital.html">查看更多
                <span class="material-symbols-outlined ms-1">
                  arrow_forward
                </span>
              </a>
            </div>

          </div>
        </div>
      </section>
      <!-- 毛孩社群區塊 -->
      <section class="container py-40 ">
        <div class="mb-4 mb-md-40">
          <h3
            class="text-primary fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-2 mb-lg-20">
            毛孩社群</h3>
          <p class="fs-5 ls-60">加入我們的大家庭</p>
        </div>
        <ul class="list-unstyled mb-0 row g-4 d-none d-sm-flex">
          <li class="col-sm-6 col-xl-3">
            <a href="">
              <div class="card btn-shadow rounded-5 p-4">
                <img src="../assets/images/Desktop_pet_01.png" class="card-img-top mb-3 rounded-5" alt="...">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-12">
                    <span class="text-center text-dark bg-accent-yellow px-12 py-1 rounded-3">板橋區</span>
                    <p class="dark50 fw-medium">柴犬</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <p class="text-dark me-2 fs-5 fw-medium">本芄</p>
                    <p class="text-primary fw-medium">1y11m</p>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-xl-3">
            <a href="">
              <div class="card btn-shadow rounded-5 p-4">
                <img src="../assets/images/Desktop_pet_02.png" class="card-img-top mb-3 rounded-5" alt="...">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-12">
                    <span class="text-center text-dark bg-accent-yellow px-12 py-1 rounded-3">萬里區</span>
                    <p class="dark50 fw-medium">柯爾鴨</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <p class="text-dark me-2 fs-5 fw-medium">Kuro</p>
                    <p class="text-primary fw-medium">2y8m</p>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-xl-3">
            <a href="">
              <div class="card btn-shadow rounded-5 p-4">
                <img src="../assets/images/Desktop_pet_03.png" class="card-img-top mb-3 rounded-5" alt="...">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-12">
                    <span class="text-center text-dark bg-accent-yellow px-12 py-1 rounded-3">新莊區</span>
                    <p class="dark50 fw-medium">麝香豬</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <p class="text-dark me-2 fs-5 fw-medium">皮皮</p>
                    <p class="text-primary fw-medium">0y8m</p>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <li class="col-sm-6 col-xl-3">
            <a href="">
              <div class="card btn-shadow rounded-5 p-4">
                <img src="../assets/images/Desktop_pet_04.png" class="card-img-top mb-3 rounded-5" alt="...">
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center mb-12">
                    <span class="text-center text-dark bg-accent-yellow px-12 py-1 rounded-3">三重區</span>
                    <p class="dark50 fw-medium">英國短毛貓</p>
                  </div>
                  <div class="d-flex align-items-center">
                    <p class="text-dark me-2 fs-5 fw-medium">抖宅</p>
                    <p class="text-primary fw-medium">11y6m</p>
                  </div>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <!-- 手機版輪播 -->
        <div id="carousel" class="carousel slide d-sm-none" data-bs-ride="carousel">
          <ul class="carousel-inner ps-0">
            <li class="carousel-item active">
              <a href="">
                <div class="card rounded-5 p-4">
                  <img src="../assets/images/Mobile_pet_01.png" class="card-img-top mb-3 rounded-5" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-12">
                      <span class="text-center text-dark bg-accent-yellow px-12 py-1 rounded-3">板橋區</span>
                      <p class="dark50 fw-medium">柴犬</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <p class="text-dark me-2 fs-5 fw-medium">本芄</p>
                      <p class="text-primary fw-medium">1y11m</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="carousel-item">
              <a href="">
                <div class="card rounded-5 p-4">
                  <img src="../assets/images/Mobile_pet_02.png" class="card-img-top mb-3 rounded-5" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-12">
                      <span class="text-center text-dark bg-accent-yellow px-12 py-1 rounded-3">萬里區</span>
                      <p class="dark50 fw-medium">柯爾鴨</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <p class="text-dark me-2 fs-5 fw-medium">Kuro</p>
                      <p class="text-primary fw-medium">2y8m</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="carousel-item">
              <a href="">
                <div class="card rounded-5 p-4">
                  <img src="../assets/images/Mobile_pet_03.png" class="card-img-top mb-3 rounded-5" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-12">
                      <span class="text-center text-dark bg-accent-yellow px-12 py-1 rounded-3">新莊區</span>
                      <p class="dark50 fw-medium">麝香豬</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <p class="text-dark me-2 fs-5 fw-medium">皮皮</p>
                      <p class="text-primary fw-medium">0y8m</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
            <li class="carousel-item">
              <a href="">
                <div class="card rounded-5 p-4">
                  <img src="../assets/images/Mobile_pet_04.png" class="card-img-top mb-3 rounded-5" alt="...">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-12">
                      <span class="text-cente text-dark bg-accent-yellow px-12 py-1 rounded-3">三重區</span>
                      <p class="dark50 fw-medium">英國短毛貓</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <p class="text-dark me-2 fs-5 fw-medium">抖宅</p>
                      <p class="text-primary fw-medium">11y6m</p>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
            <span class="material-symbols-outlined text-danger" aria-hidden="true">
              arrow_back_ios
            </span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span> -->
            <span class="material-symbols-outlined text-danger" aria-hidden="true">
              arrow_forward_ios
            </span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </section>
      <!-- 毛孩知識庫區塊 -->
      <section class="py-40 py-lg-80 bg-bg-dark">
        <div class="container">
          <h3
            class="text-primary fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-4 mb-lg-40">
            毛孩知識庫</h3>
          <ul class="list-unstyled mb-0 row flex-column flex-md-row justify-content-center g-4">
            <li class="col col-md-4">
              <a href="">
                <div class="card btn-shadow rounded-5 h-100">
                  <img src="../assets/images/Mobile_article_01.png" class="card-img-top rounded-top-5" alt="文章配圖">
                  <div class="card-body px-4 pt-20 pb-4 ">
                    <a href="" class="link-primary">
                      <h5 class="card-title fs-5 fw-medium ls-60  mb-12">狗狗嘔吐怎麼辦？</h5>
                    </a>
                    <p class="card-text ls-48">狗狗嘔吐是很常見的症狀，造成狗狗嘔吐的原因非常多，如果你的狗狗吐了，先不要太緊張，先觀察狗狗是否有出現比嘔吐更嚴重的狀況...</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="col col-md-4">
              <a href="">
                <div class="card btn-shadow rounded-5 h-100">
                  <img src="../assets/images/Mobile_article_02.png" class="card-img-top rounded-top-5" alt="文章配圖">
                  <div class="card-body px-4 pt-20 pb-4">
                    <a href="" class="link-primary">
                      <h5 class="card-title fs-5 fw-medium ls-60  mb-12">貓咪過敏防治法</h5>
                    </a>
                    <p class="card-text ls-48">發現家中貓咪不停出現搔癢皮膚、整理毛髮的症狀，有可能是皮膚過敏所造成的，要先找出過敏原因...</p>
                  </div>
                </div>
              </a>
            </li>
            <li class="col col-md-4">
              <a href="">
                <div class="card btn-shadow rounded-5 h-100">
                  <img src="../assets/images/Mobile_article_03.png" class="card-img-top rounded-top-5" alt="文章配圖">
                  <div class="card-body px-4 pt-20 pb-4">
                    <a href="" class="link-primary">
                      <h5 class="card-title fs-5 fw-medium ls-60  mb-12">鸚鵡也會感冒？</h5>
                    </a>
                    <p class="card-text ls-48">
                      秋天氣候忽冷忽熱，此時鸚鵡容易感冒，症狀多為打噴嚏，鼻孔會有水狀稀液流出，呼吸急促咳嗽。籠養鳥導致感冒，其主要病原體為病毒，少數由細菌感染引起...
                    </p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </section>
      <%- include('./layout/footer'); -%>
        <script type="module" src="../main.js"></script>
  </body>

</html>