<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
      <!-- banner區塊 -->
      <section class="container">
        <!-- 電腦版banner -->
        <div class="row justify-content-between align-items-center d-none d-xl-flex vh-100">
          <div class="col-5 position-relative">
            <img class="banner-paw" src="../assets/images/Desktop_paw.png" alt="">
            <div class="position-absolute top-27 start-18 d-flex flex-column justify-content-center align-items-center">
              <img src="../assets/images/Paw Map.svg" alt="">
              <p class="text-primary-light fs-2 text-center ls-160 mt-12 mb-40">寵物健康管理，輕鬆無憂<br>
                新北寵物醫療一鍵即可</p>
              <a class="btn btn-primary rounded-pill link-light py-3 px-4 d-flex align-items-center justify-content-center fs-5"
                href=""><span class="material-symbols-outlined me-1">
                  search
                </span>尋醫去</a>
            </div>
          </div>
          <div class="col-6">
            <img class="banner-img" src="../assets/images/Desktop_kv01.png" alt="">
          </div>
        </div>
        <!-- 手機版banner -->
        <div class="d-xl-none d-flex flex-column justify-content-center align-items-center vh-100">
          <img class="banner-mobile" src="../assets/images/Mobile_kv_01.png" alt="">
          <img src="../assets/images/Paw Map.svg" alt="">
          <p class="text-primary-light fs-5 text-center ls-60 mt-12 mb-20 fw-medium">寵物健康管理，輕鬆無憂<br>
            新北寵物醫療一鍵即可</p>
          <a class="btn btn-primary rounded-pill link-light py-3 px-4 d-flex align-items-center justify-content-center fs-5 fw-medium"
            href=""><span class="material-symbols-outlined me-1">
              search
            </span>尋醫去</a>
        </div>
      </section>
      <!-- 探索我們區塊 -->
      <section class="bg-light pt-40 pb-20 py-md-80">
        <div class="container">
          <ul class="mb-0 list-unstyled">
            <li class="d-flex flex-column flex-lg-row justify-content-center align-items-center row mb-4 mb-lg-40">
              <div class="col-lg-4 col">
                <h3
                  class="text-primary fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-4 mb-lg-40">
                  探索我們</h3>
                <img class="img-fluid img-introduce1" src="../assets/images/Mobile_introduce_01.png" alt="">
              </div>
              <div class="col-lg-6 col position-relative mt-4 mt-lg-40">
                <img class="img-fluid img-introduce-bg1" src="../assets/images/Mobile_introduce_bg_01.png" alt="">
                <div class="position-absolute  top-50 start-50 translate-middle text-center text-lg-start">
                  <h4 class="fs-5 fs-md-4 fw-medium ls-60 mb-12">寵物護照健康管理</h4>
                  <p class="ls-48 mb-20 fs-md-5">輕鬆建立寵物個人檔案<br>
                    記錄疫苗、檢查和就醫紀錄<br>
                    同時輕鬆管理寵物醫院清單
                  </p>
                  <a class="btn btn-primary rounded-pill link-light py-3 px-4 d-flex align-items-center justify-content-center fs-5 w-241 m-auto mx-lg-0"
                    href="">創建專屬寵物護照
                    <span class="material-symbols-outlined ms-1">
                      arrow_forward
                    </span>
                  </a>
                </div>
              </div>
            </li>
            <li
              class="d-flex flex-column flex-lg-row justify-content-center align-items-center row flex-column-reverse mb-4 mb-lg-40">
              <div class="col-lg-6 col position-relative">
                <img class="img-fluid img-introduce-bg2" src="../assets/images/Mobile_introduce_bg_02.png" alt="">
                <div class="position-absolute  top-50 start-50 translate-middle text-center text-lg-start">
                  <h4 class="fs-5 fs-md-4 fw-medium ls-60 mb-12">新北寵物醫院收藏</h4>
                  <p class="ls-48 mb-20 fs-md-5">輕鬆管理當地寵物醫院的訊息<br>
                    確保隨時找到合適的醫療服務
                  </p>
                </div>
              </div>
              <div class="col-lg-4 col">
                <img class="img-fluid img-introduce2" src="../assets/images/Mobile_introduce_02.png" alt="">
              </div>
            </li>
            <li class="d-flex flex-column flex-lg-row justify-content-center align-items-center row">
              <div class="col-lg-4 col">
                <img class="img-fluid img-introduce3" src="../assets/images/Mobile_introduce_03.png" alt="">
              </div>
              <div class="col-lg-6 col position-relative">
                <img class="img-fluid img-introduce-bg3" src="../assets/images/Mobile_introduce_bg_03.png" alt="">
                <div class="position-absolute  top-50 start-50 translate-middle text-center text-lg-start">
                  <h4 class="fs-5 fs-md-4 fw-medium ls-60 mb-12">近期活動分享</h4>
                  <p class="ls-48 mb-20 fs-md-5">探索最新的寵物活動<br>
                    包括聚會、比賽、展覽<br>
                    讓您的毛孩享受社交活動所帶來的樂趣
                  </p>
                  <a class="btn btn-primary rounded-pill link-light py-3 px-4 d-flex align-items-center justify-content-center fs-5 w-241 m-auto mx-lg-0"
                    href="">查看近期活動
                    <span class="material-symbols-outlined ms-1">
                      arrow_forward
                    </span>
                  </a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
  </body>

</html>