<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head'); -%>

    <body>
        <%- include('./layout/header'); -%>
            <section class="container mt-100 mt-lg-140 min-vh-100">
                <div class="mb-4 mb-md-40">
                    <div>
                        <h3
                            class="text-primary fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-0 mb-lg-3">
                            毛孩護照</h3>
                    </div>
                    <ul class="nav justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a class="nav-link  fs-md-5" href="#">修改資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-md-5" href="#">健康管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-md-5" href="#">收藏列表</a>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 border p-5 bg-light rounded rounded-5 shadow-lg" id="passport-content">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                style="margin:auto;background:#fff;display:block;" width="200px" height="200px"
                                viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                <rect x="17.5" y="30" width="15" height="40" fill="#e15b64">
                                    <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline"
                                        keyTimes="0;0.5;1" values="18;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"
                                        begin="-0.2s"></animate>
                                    <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline"
                                        keyTimes="0;0.5;1" values="64;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"
                                        begin="-0.2s"></animate>
                                </rect>
                                <rect x="42.5" y="30" width="15" height="40" fill="#f8b26a">
                                    <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline"
                                        keyTimes="0;0.5;1" values="20.999999999999996;30;30"
                                        keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
                                    <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline"
                                        keyTimes="0;0.5;1" values="58.00000000000001;40;40"
                                        keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate>
                                </rect>
                                <rect x="67.5" y="30" width="15" height="40" fill="#abbd81">
                                    <animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline"
                                        keyTimes="0;0.5;1" values="20.999999999999996;30;30"
                                        keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
                                    <animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline"
                                        keyTimes="0;0.5;1" values="58.00000000000001;40;40"
                                        keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate>
                                </rect>
                            </svg>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./layout/footer'); -%>

                <script type="module" src="../main.js"></script>
                <script type="module" src="../assets/js/config.js"></script>
                <script type="module" src="../assets/js/utils.js"></script>
                <script type="module" src="../assets/js/passport.js"></script>
    </body>

</html>