<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head'); -%>

    <body>
        <%- include('./layout/header'); -%>
            <section class="container mt-100 mt-lg-140 min-vh-100">
                <div class="mb-4 mb-md-40">
                    <div>
                        <h3
                            class="text-primary fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-0 mb-lg-3">
                            毛孩護照</h3>
                    </div>
                    <ul class="nav justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a class="nav-link  fs-md-5" href="#">修改資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-md-5" href="#">健康管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-md-5" href="#">收藏列表</a>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 border p-5 bg-light rounded rounded-5 shadow-lg">
                            <div class="d-flex flex-column flex-lg-row 
                                    align-items-center
                                    justify-content-md-between align-items-md-center">
                                <div class="mb-3 mb-lg-0">
                                    <img class="rounded-circle" src="/assets/images/Desktop_pet_01.png" alt="Pet Photo"
                                        width="200" height="200">
                                </div>
                                <div class="passport-info">
                                    <p class="fs-lg-5 mb-2">名字: <span id="petName">Pet's Name</span></p>
                                    <p class="fs-lg-5 mb-2">生日: <span id="birthday">MM/DD/YYYY</span></p>
                                    <p class="fs-lg-5 mb-2">年齡: <span id="age">Age</span></p>
                                    <p class="fs-lg-5 mb-2">所在地: <span id="location">Location</span></p>
                                    <p class="fs-lg-5 mb-2">品種: <span id="breed">Breed</span></p>
                                    <p class="fs-lg-5 mb-2">性別: <span id="gender">Gender</span></p>
                                    <p class="fs-lg-5 mb-2">是否結紮: <span id="spayed">Yes/No</span></p>
                                    <p class="fs-lg-5 mb-2">體重: <span id="weight">Weight</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('./layout/footer'); -%>

                <script type="module" src="../main.js"></script>
                <script type="module" src="../assets/js/config.js"></script>
                <script type="module" src="../assets/js/utils.js"></script>
                <script type="module" src="../assets/js/passport.js"></script>
    </body>

</html>