<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head'); -%>

    <body>
        <%- include('./layout/header'); -%>
            <section class="container mt-100 mt-lg-140 min-vh-100">
                <div class="mb-4 mb-md-40">
                    <div>
                        <h3
                            class="text-primary fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-0 mb-lg-3">
                            毛孩護照-<span class="text-secondary fs-4">收藏列表</span></h3>
                    </div>
                    <ul class="nav justify-content-center justify-content-lg-end">
                        <li class="nav-item"></li>
                        <a class="nav-link fs-md-5" href="passport.html">毛孩護照</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  fs-md-5" href="passport-edit.html">修改資料</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-md-5" href="pet_health_record.html">健康管理</a>
                        </li>
                    </ul>
                </div>
                <div class="container">
                    <ul class="list-unstyled row g-4 mb-0" id="pet-collect-list">
                        <!-- <li class="col-12 col-sm-6 col-lg-4 ">
                            <div class="card rounded-5 card-shadow hospital-card h-100">
                                <div class="card-body p-3 p-lg-4">
                                    <div class="d-flex justify-content-between align-items-center mb-12">
                                        <span class="text-center bg-accent-yellow px-12 py-1 rounded-3">林口區</span>
                                        <p class="d-flex align-items-center justify-content-center dark50"><span
                                                class="icon-fill material-symbols-outlined dark30 me-2">
                                                favorite
                                            </span>29 人收藏</p>
                                    </div>
                                    <h5 class="card-title fs-lg-4 fs-5 fw-medium ls-60 ls-lg-72">上弦動物醫院</h5>
                                    <ul class="mb-0 list-unstyled">
                                        <li class="mb-1"><a class="d-flex align-items-center ls-48" href="">
                                                <span class="material-symbols-outlined icon-fill me-1 dark30">
                                                    location_on
                                                </span>
                                                新北市林口區忠福路 129 號
                                            </a></li>
                                        <li><a class="d-flex align-items-center ls-48" href="tel:02 2609-0119">
                                                <span class="icon-fill material-symbols-outlined me-1 dark30">
                                                    call
                                                </span>
                                                02 2609-0119
                                            </a></li>
                                    </ul>
                                </div>
                                <div class="card-footer bg-light rounded-bottom-5 overflow-hidden">
                                    <a class="link-primary ls-48 d-flex justify-content-center align-items-center"
                                        href="">
                                        <span class="material-symbols-outlined fs-2 me-2">
                                            favorite
                                        </span>
                                        收藏這間醫院
                                    </a>
                                </div>
                            </div>
                        </li> -->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            style="margin: auto; background: rgb(249, 245, 238); display: block;" width="200px"
                            height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <g>
                                <circle cx="60" cy="50" r="4" fill="#fad96d">
                                    <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35"
                                        keyTimes="0;1" begin="-0.67s"></animate>
                                    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s"
                                        values="0;1;1" keyTimes="0;0.2;1" begin="-0.67s"></animate>
                                </circle>
                                <circle cx="60" cy="50" r="4" fill="#fad96d">
                                    <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35"
                                        keyTimes="0;1" begin="-0.33s"></animate>
                                    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s"
                                        values="0;1;1" keyTimes="0;0.2;1" begin="-0.33s"></animate>
                                </circle>
                                <circle cx="60" cy="50" r="4" fill="#fad96d">
                                    <animate attributeName="cx" repeatCount="indefinite" dur="1s" values="95;35"
                                        keyTimes="0;1" begin="0s"></animate>
                                    <animate attributeName="fill-opacity" repeatCount="indefinite" dur="1s"
                                        values="0;1;1" keyTimes="0;0.2;1" begin="0s"></animate>
                                </circle>
                            </g>
                            <g transform="translate(-15 0)">
                                <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#eab145" transform="rotate(90 50 50)">
                                </path>
                                <path d="M50 50L20 50A30 30 0 0 0 80 50Z" fill="#eab145">
                                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                                        dur="1s" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1">
                                    </animateTransform>
                                </path>
                                <path d="M50 50L20 50A30 30 0 0 1 80 50Z" fill="#eab145">
                                    <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite"
                                        dur="1s" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1">
                                    </animateTransform>
                                </path>
                            </g>
                        </svg>
                    </ul>
                </div>
            </section>
            <%- include('./layout/footer'); -%>

                <script type="module" src="../main.js"></script>
                <script type="module" src="../assets/js/config.js"></script>
                <script type="module" src="../assets/js/utils.js"></script>
                <script type="module" src="../assets/js/pet_hospital_collect.js"></script>
    </body>

</html>