<!DOCTYPE html>
<html lang="en">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>
      <section class="container mt-100 mt-lg-140">
        <div class="row flex-column justify-content-center align-items-center">
          <div class="col-md-6 col-lg-4">
            <div class="mb-4">
              <h3
                class="text-primary fs-4 fs-md-2 fw-medium fw-md-normal ls-72 ls-md-160 pt-1 position-relative custom-border-top mb-2 mb-lg-20">
                註冊會員</h3>
              <p class="fs-5 ls-60">創建毛孩專屬護照</p>
            </div>
            <form class="mb-5">
              <div class="mb-2">
                <label for="Email1" class="form-label">帳號</label>
                <input type="email" class="form-control" id="Email1" placeholder="請輸入email">
              </div>
              <div class="mb-2">
                <label for="Password" class="form-label">密碼</label>
                <input type="password" class="form-control" id="Password">
              </div>
              <div class="mb-2">
                <label for="petName" class="form-label">寵物名字</label>
                <input type="text" class="form-control" id="petName">
              </div>
              <div class="mb-2">
                <label for="petBreed" class="form-label">寵物品種</label>
                <input type="text" class="form-control" id="petBreed">
              </div>
              <div class="mb-2">
                <label for="petBityhday" class="form-label">寵物生日</label>
                <input type="date" class="form-control" id="petBityhday">
              </div>
              <div class="mb-2">
                <label for="petLocation" class="form-label">寵物所在地</label>
                <input type="text" class="form-control" id="petLocation" placeholder="板橋區">
              </div>
              <div class="mb-2">
                <label for="petPhoto" class="form-label">上傳寵物照片</label>
                <input class="form-control" type="file" id="petPhoto" name="petPhoto">
              </div>
              <div class="mb-2">
                <label for="petGender" class="form-label">寵物性別</label>
                <div class="row">
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="petGender" id="maleRadio" value="male">
                      <label class="form-check-label" for="maleRadio">
                        男生
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="petGender" id="femaleRadio" value="female"
                        checked>
                      <label class="form-check-label" for="femaleRadio">
                        女生
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label for="isSpayed" class="form-label">是否結紮</label>
                <div class="row">
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="isSpayed" id="spayed" value="true">
                      <label class="form-check-label" for="spayed">
                        是
                      </label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="isSpayed" id="notSpayed" value="false" checked>
                      <label class="form-check-label" for="notSpayed">
                        否
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary rounded-pill link-light py-12 px-20 w-100">註冊</button>
            </form>
          </div>
        </div>
      </section>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
  </body>

</html>